{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="hero" class="span12">
    This is the awesome hero
  </div>
  {{ content | expand_urls: root_url }}
  <footer class="footer">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
