---
single: true
---
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div class="wrapper_single">
    <div class="container">
      <article class="span8 offset2" role="article">
        {% include article.html %}

      </article>
    </div>
    <div class="container">	
      {% if site.disqus_short_name and page.comments == true %}
        <section>
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
      {% endif %}
    </div>
  </div>
  {% include footer.html %}
  {% include after_footer.html %}
</body>
</html>
