.container {
  background-color: none;
}
#hero {
  position: fixed;
  top: 0;
  width: 100%;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #323232;
  background-image: url("/images/heroBack.jpg");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  margin: 0px;
  padding: 75px;
  z-index: -1;
  height: 550px;
}
#hero-inner {
  font-family: 'Cantarell', sans-serif;
  margin-top: 50px;
}
#hero-inner h1 {
  font-size: 60px;
}
#hero-inner em {
  font-style: normal;
  color: #99CDE3;
  text-shadow: -1px -1px 2px #FAFAFA, 1px 1px 2px #070707;
}
body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #323232;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
}
article {
  background-attachment: scroll;
  background-clip: padding-box;
  background-color: #FFFFFF;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
article h1 {
  margin-top: 0px;
}
#front-wrapper {
  background-color: #F1F1F1;
  margin-top: 500px;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
#archive-wrapper {
  background-color: #F1F1F1;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.wrapper_single {
  background-color: #F1F1F1;
  background-image: url("/images/heroBack.jpg");
  background-attachment: fixed;
  padding-top: 75px;
  padding-bottom: 75px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-height: 500px;
}
.single_article {
  margin: 25px;
}
.footer {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #323232;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  color: #E4E4E4;
  font-size: 1em;
  padding-bottom: 1.618em;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1.618em;
  margin: 0px;
}
.footer p {
  color: #E4E4E4;
  font-size: 12px;
}
.navbar {
  margin-bottom: 0px;
}
.meta {
  color: gray;
  font-size: 10px;
}
#sub-hero {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFFFFF;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: #F1F1F1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: 0 1px 0 0 #FFFFFF;
  padding: 20px;
  margin-bottom: 30px;
}
.social_icon {
  display: inline;
  opacity: .7;
  margin: 0px 0px 0px 1px;
}
dt .social_icon {
  margin-left: 5px;
}
.dl-horizontal dd {
  margin-bottom: 5px;
}
.dl-horizontal dt {
  margin-bottom: 5px;
}
.article-format {
  padding: 2em;
}
.archive-article-format {
  padding: 1em;
}
#footer-widgets {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFFFFF;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-top-color: #F1F1F1;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 20px;
}
.tweet_avatar {
  display: none;
}
.tweet_time {
  display: none;
}
.tweet_list {
  margin: 0px;
  padding: 0px;
}
.tweet_list li {
  margin: 10px 0px;
  border-radius: 10px;
  background-color: #ECECEC;
  padding: 5px;
}
#instabutton {
  width: 230px;
}
.instagram-placeholder {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: inline;
  float: left;
}
.table td .code {
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  border: none;
}

.table td .gutter {
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  border: none;
}
table code {
  white-space: inherit;
  word-wrap: initial;
  word-break: initial;
}
.tooltip.top.home {
  margin-top: -503px;
}
p {
  line-height: 1.7;
  margin: 0 0 20px;
}
.recent_posts {
  list-style-type: disc;
}
