<div class="row">
  <div class="span3">
    <h2>recent posts</h2>
    <ul class="recent_posts">
      {% for post in site.posts limit: site.recent_posts %}
        <li>
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <h2><a href="/blog/archives">archives</a></h2>
  </div>
  <div class="span3">
    {% include custom/asides/instagram.html %}
  </div>
  <div class="span4">
    {% include asides/twitter.html %}
  </div>
  <div class="span2">
    {% include custom/asides/found_on.html %}
  </div>
</div>
