<div class="row">
  <div class="span4">
    <h2>about me</h2>
    <p>I fill the days improving in the craft of software development, business building, and life enrichment. As a paragraph never does much justice to anyone, look around to learn more.</p>
  </div>
  <div class="span6">
    <h2>recent public projects</h2>
    <dl class="dl-horizontal">
      <dt><a href="http://numbernote.com">NumberNote</a><a href="https://github.com/sevenadrian/numbernote" rel="tooltip" title="open sourced at Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a></dt>
      <dd>The best free phone number reverse lookup site, for mobile too</dd>
      <dt><a href="http://decide.herokuapp.com">The Decider</a><a href="https://github.com/sevenadrian/TheDecider" rel="tooltip" title="open sourced at Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a></dt>
      <dd>A simple web app that randomly makes a decision for you and your collaborators</dd>
      <dt><a href="http://siliconvalleybln.org">SiliconValleyBLN</a></dt>
      <dd>Web development for a non-profit that helps those with disabilities</dd>
    </dl>
  </div>
  <div class="span2">
    <h2>found on</h2>
    <a href="https://github.com/sevenadrian/" rel="tooltip" title="Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a>
    <a href="http://stackoverflow.com/users/1500225/" rel="tooltip" title="Stack Overflow"><img class="social_icon" title="Stack Overflow" alt="stack overflow icon" src="{{ root_url }}/images/glyphicons_400_stack_overflow.png"></a>
    <a href="http://www.linkedin.com/in/adrianartiles" rel="tooltip" title="Linkedin"><img class="social_icon" title="Linkedin" alt="Linkedin icon" src="{{ root_url }}/images/glyphicons_377_linked_in.png"></a>
    <a href="http://twitter.com/adrianartiles" rel="tooltip" title="Twitter"><img class="social_icon" title="Twitter" alt="Twitter icon" src="{{ root_url }}/images/glyphicons_391_twitter_t.png"></a>
    <a href="https://plus.google.com/108988221942502838420?rel=author" rel="tooltip" title="Google Plus"><img class="social_icon" title="Google Plus" alt="Google Plus icon" src="{{ root_url }}/images/glyphicons_386_google_plus.png"></a>
    <a href="http://www.quora.com/Adrian-Artiles" rel="tooltip" title="Quora"><img class="social_icon" title="Quora" alt="Quora icon" src="{{ root_url }}/images/glyphicons_385_quora.png"></a>
    <h2>contact at</h2>
    <a href="mailto:adrian.r.artiles@gmail.com">adrian.r.artiles@gmail.com</a>
  </div>
</div>
